/**
* @license
*
* Font Family: Satoshi
* Designed by: Deni Anggara
* URL: https://www.fontshare.com./satoshi
* © 2024 Indian Type Foundry
*
* Satoshi Light 
* Satoshi LightItalic 
* Satoshi Regular 
* Satoshi Italic 
* Satoshi Medium 
* Satoshi MediumItalic 
* Satoshi Bold 
* Satoshi BoldItalic 
* Satoshi Black 
* Satoshi BlackItalic 
* Satoshi Variable (Variable font)
* Satoshi VariableItalic (Variable font)

*
*/
@font-face {
  font-family: "Satoshi-Light";
  src: url("./Satoshi-Italic.woff2") format("woff2"),
    url("./Satoshi-Light.woff") format("woff"),
    url("./Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("./Satoshi-LightItalic.woff2") format("woff2"),
    url("./Satoshi-LightItalic.woff") format("woff"),
    url("./Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("./Satoshi-Regular.woff2") format("woff2"),
    url("./Satoshi-Regular.woff") format("woff"),
    url("./Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url("./Satoshi-Italic.woff2") format("woff2"),
    url("./Satoshi-Italic.woff") format("woff"),
    url("./Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("./Satoshi-Medium.woff2") format("woff2"),
    url("./Satoshi-Medium.woff") format("woff"),
    url("./Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("./Satoshi-MediumItalic.woff2") format("woff2"),
    url("./Satoshi-MediumItalic.woff") format("woff"),
    url("./Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("./Satoshi-Bold.woff2") format("woff2"),
    url("./Satoshi-Bold.woff") format("woff"),
    url("./Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("./Satoshi-BoldItalic.woff2") format("woff2"),
    url("./Satoshi-BoldItalic.woff") format("woff"),
    url("./Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("./Satoshi-Black.woff2") format("woff2"),
    url("./Satoshi-Black.woff") format("woff"),
    url("./Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("./Satoshi-BlackItalic.woff2") format("woff2"),
    url("./Satoshi-BlackItalic.woff") format("woff"),
    url("./Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
  font-family: "Satoshi-Variable";
  src: url("./Satoshi-Variable.woff2") format("woff2"),
    url("./Satoshi-Variable.woff") format("woff"),
    url("./Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 300.0 to 900.0
*/
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("./Satoshi-VariableItalic.woff2") format("woff2"),
    url("./Satoshi-VariableItalic.woff") format("woff"),
    url("./Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
