.Diploma {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--main-white-color);
}

.Diploma_comp_logo {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80px;
  max-width: 250px;
}
.Diploma_praise {
  color: var(--main-red-color);
  white-space: pre-line;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 120px;
}

.Diploma_title {
  color: var(--main-blue-color);
  margin-top: -15px;
  font-size: 8px;
  font-weight: 600;
  text-align: center;
}

.Diploma_company {
  color: var(--main-blue-color);
  font-size: 8px;
  margin-top: -7px;
  font-weight: 600;
  text-align: center;
}

.Diploma .Menu {
  position: relative;
  width: 100px;
  margin: 0 auto;
  background: transparent;
  border: 0;
}
.Diploma button {
  color: var(--main-white-color);
  background-color: var(--main-red-color);
  border-color: var(--main-red-color);
  border: 2;
  margin-top: 30px;
  font-weight: 600;
  justify-content: center;
  padding: 0;
}

.Diploma .DescriptionBox {
  background: transparent;
  color: var(--main-red-color);
  border: 0;
  text-align: center;
}
