.EndScreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--main-white-color);
}

.EndScreen_logo {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80px;
  max-width: 250px;
}

.EndScreen_title {
  color: var(--main-red-color);
  white-space: pre-line;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 85px;
}

.EndScreen_text {
  color: var(--main-blue-color);
  font-size: 12px;
  margin-top: 5px;
  font-weight: 600;
  text-align: center;
}

.EndScreen_more {
  color: var(--main-blue-color);
  margin-top: -10px;
  font-size: 8px;
  text-align: center;
  margin-bottom: 15px;
}

.EndScreen hr {
  border: 0;
  height: 1px;
  width: 200px;
  background: var(--main-red-color);
  margin-top: -15px;
}

.EndScreen .Menu {
  position: relative;
  width: 100px;
  margin: 0 auto;
  background: transparent;
  border: 0;
}

.EndScreen button {
  color: var(--main-white-color);
  background-color: var(--main-red-color);
  border-color: var(--main-red-color);
  border: 2;
  margin-bottom: 10px;
  font-weight: 600;
  justify-content: center;
  padding: 0;
}

.EndScreen .DescriptionBox {
  background: transparent;
  color: var(--main-red-color);
  border: 0;
  text-align: center;
}

/* Blue screen */

.BlueScreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--main-blue-color);
}

.BlueScreen_emoji {
  font-size: 60px;
  color: var(--main-white-color);
  margin-top: 8%;
  margin-left: 15%;
}

.BlueScreen_text {
  color: var(--main-white-color);
  font-size: 18px;
  font-weight: 600;
  margin-left: 15%;
  margin-top: -55px;
}

.BlueScreen_more {
  color: var(--main-white-color);
  font-size: 9px;
  font-weight: 600;
  margin-left: 15%;
  margin-top: -15px;
}

.BlueScreen_src {
  color: var(--main-white-color);
  font-size: 9px;
  font-weight: 600;
  margin-left: 15%;
  margin-top: -8px;
}

.BlueScreen_button {
  display: flex;
  align-items: center;
  text-align: left;
  -webkit-appearance: none;
  border: 0;
  background: none;
  height: 20px;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  padding-left: 1em;
  font-size: 10px;

  color: var(--main-blue-color);
  background-color: var(--main-white-color);
  border-color: var(--main-red-color);
  border: 2;
  width: 100px;
  margin-bottom: 10px;
  margin-left: 15%;
  font-weight: 600;
  justify-content: center;
  padding: 0;
}

.BlueScreen a:link {
  color: var(--main-white-color);
}
.BlueScreen a:visited {
  color: var(--main-white-color);
}

/* Credits */

.CreditsScreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--main-white-color);
}

.CreditsScreen hr {
  border: 0;
  height: 1px;
  width: 150px;
  background: var(--main-red-color);
  margin-top: -15px;
}

.CreditsScreen h1 {
  color: var(--main-red-color);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.CreditsScreen h2 {
  color: var(--main-red-color);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}

.CreditsScreen p {
  color: var(--main-blue-color);
  font-size: 10px;
  text-align: center;
  margin-top: -12px;
  margin-bottom: -10px;
}

.CreditsScreen .Menu {
  position: relative;
  width: 100px;
  margin: 0 auto;
  background: transparent;
  border: 0;
}

.CreditsScreen button {
  color: var(--main-white-color);
  background-color: var(--main-red-color);
  border-color: var(--main-red-color);
  border: 2;
  margin-top: 40px;
  font-weight: 600;
  justify-content: center;
  padding: 0;
}

.CreditsScreen a:link {
  color: var(--main-blue-color);
}
.CreditsScreen a:visited {
  color: var(--main-blue-color);
}
