@import url("./fonts/satoshi.css");

:root {
  --main-blue-color: #0038a5;
  --main-red-color: #d82b1f;
  --main-white-color: #ffffff;

  --main-background-color: var(--main-blue-color);

  --border-color: var(--main-red-color);
  --dialog-background: white;

  --menu-background: white;
  --menu-border-color: var(--main-red-color);
  --menu-font-color: var(--main-blue-color);
  --menu-selected-background: var(--main-blue-color);
  --menu-selected-font-color: var(--main-white-color);

  --scale-factor: 2;
}

* {
  box-sizing: border-box;

  font-family: "Satoshi-Regular", sans-serif;
}

body {
  background: white;
  padding: 0;
  margin: 0;

  overflow: hidden;
}

.game-container {
  position: relative;
  width: 464px;
  height: 260px;
  outline: var(--border-color) solid 1px;
  background-color: #0038a5;

  margin: 0 auto;
}

a:link {
  color: var(--main-red-color);
}

a:visited {
  color: var(--main-red-color);
}

.game-container canvas {
  image-rendering: pixelated;
}
