.LanguageSwitch {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  padding: 4px;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
}

.LanguageSwitch_p {
  margin: 0;
  font-size: 12px;
}

.LanguageSwitch_button {
  font-size: 8px;
  -webkit-appearance: none;
  border: 5;
  font-family: inherit;
  cursor: pointer;
  color: var(--main-white-color);

  background-color: var(--menu-font-color);
  border: 1px solid var(--menu-border-color);
  border-radius: 4px;
  padding: 1px 2px;
}
