@media (max-width: 768px) {
  :root{
    --scale-factor: 1;
  }
}

@media (min-width: 768px) and (max-width: 1768px) {
  :root{
    --scale-factor: 2;
  }
}

@media (min-width: 1769px) and (max-width: 2568px) {
  :root{
    --scale-factor:3;
  }
}

@media (min-width: 2000px) {
  :root{
    --scale-factor: 4;
  }
}

@media (max-height: 550px) {
  :root{
    --scale-factor: 1;
  }
}

@media (min-height:551px) and (max-height: 900px) {
  :root{
    --scale-factor: 2;
  }
}

.game-container{
  transform: scale(var(--scale-factor)) translateY(calc(var(--scale-factor) * 15%));
  transition: transform 0.3s;
}

.game-container canvas {
  image-rendering: pixelated;
}

