.PauseMenu {
  position: absolute;
  left: 4.5em;
  top: 1em;
  right: 4.5em;
  background: var(--menu-background);
  color: var(--menu-font-color);
  border: 1px solid var(--menu-border-color);
  z-index: 2;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.PauseMenu .Menu {
  position: relative;
  border: 0;
}

.PauseMenu h2 {
  font-size: 10px;
  color: var(--menu-font-color);
  margin: 0;
  padding: 2px 0;
  text-align: center;
  border-bottom: 1px solid var(--menu-border-color);
}
