.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 36px; /* minimum height */
  padding: 4px;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
}

.TextMessage_p {
  margin: 0;
  font-size: 12px;
}

.TextMessage span {
  opacity: 0;
}

.TextMessage span.revealed {
  opacity: 1;
}

.TextMessage_button {
  margin-bottom: 10px;
  font-size: 8px;
  -webkit-appearance: none;
  font-family: inherit;
  cursor: pointer;
  
  /* Ponechání původních pozic */
  position: absolute;
  right: 2px;
  bottom: -8px;

  /* Styl převzatý z BlueScreen_button */
  display: flex;
  border: 0;
  height: 14px;
  padding: 0;
  padding-left: 1em;
  
  color: var(--main-white-color);
  background-color: var(--main-red-color);
  width: 30px;
  margin-left: 15%;
  font-weight: 500;
  justify-content: center;

  /* Specifické styly pro TextMessage_button */
  padding: 1px 3px; /* Původní padding */
}
 