.TitleScreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--main-white-color);
}

.TitleScreen_logo {
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 256px;
}

.TitleScreen .Menu {
  position: relative;
  width: 100px;
  margin: 0 auto;
  background: transparent;
  border: 0;
}
.TitleScreen button {
  color: var(--main-white-color);
  background-color: var(--main-red-color);
  border-color: var(--main-red-color);
  border: 2;
  font-weight: 600;
  justify-content: center;
  padding: 0;
  margin: 5px;
}

.TitleScreen .DescriptionBox {
  background: transparent;
  color: var(--main-red-color);
  border: 0;
  text-align: center;
}
